.post {
    background: #fff;
    width: 550px;
    margin: 15px auto;
    position: relative;
}

img.thumbnail {
    height: 50px;
    width: 50px;
    border-radius: 25px;
    float: left;
}

p.name {
    float: left;
    font-size: 10pt;
    height: 30px;
    line-height: 30px;
    margin: 3px 15px;
    font-weight: 600;
    color: #314e8a;
}

.header {
    height: 40px;
    padding: 15px 20px 0;
    position: relative;
}

p.date {
    position: absolute;
    top: 43px;
    left: 85px;
    font-size: 12px;
    color: #707070;
}

.text {
    font-size: 12px;
    font-weight: 500;
    width: 510px;
    margin: 25px;
    line-height: 1.462;
    white-space: pre-line;
    overflow-wrap: break-word;
}

.text a {
    color: #4848b2;
    font-weight: 600;
}

.add-new-post {
    display: grid;
    grid-template-columns: 1fr 165px;
    gap: 15pt;
    width: 550px;
    margin: 45px auto 0px auto;
}

.add-new-post input{
    width: auto;
    padding: 5px 30px;
    font-size: 10pt;
    height: 30px;
    box-shadow: 0px 2px 0px 0px rgb(35,45,65, 0.3);
}

button#submit_post {
    background: #4a76a8;
    color: white;
    transition: 0.3s;
}

.footer {
    height: 30px;
    width: 510px;
    margin: 0 auto;
    border-top: 1px solid #dcdcdc;
    padding: 12px 0;
    font-size: 9pt;
    color: #4a76a8;
}

.footer p {
    float: left;
    margin-right: 11px;
}

.footer i {
    margin-right: 6px;
}

.footer .footer-right {
    float: right;
}
p#show-all {
    margin: -15px 0 10px 25px;
    font-size: 12px;
    color: #4a76a8;
    font-weight: 700;
    cursor: pointer;
}
.post-control-bar {
    position: absolute;
    width: 50px;
    top: 3px;
    right: -60px;
}

.doc {width: 500px;}

.attachments {
    margin: 25px;
    width: 550px;
    overflow: hidden;
}
img {
    width: 100%;
}

button#open-control-panel {
    position: fixed;
    bottom: 20px;
    left: 20px;
    background: #4a76a8;
    border-radius: 30px;
    height: 50px;
    width: 50px;
    color: white;
    font-size: 19pt;
}

.post-control-bar button {
    color: white;
    position: relative;
    border-radius: 40px;
    font-size: 7pt;
    width: 35px;
    margin: 5px 0 0 0;
    height: 35px;
}

button.share-post {
    background: #35a635;
}

button.delete-post {
    background: #c11f1f;
}
.comments {
    width: 300px;
    overflow-y: auto;
    height: 175px;
    background: white;
    box-shadow: 0px 2px 0px 0px rgb(35,45,65, 0.3);
}
.comment-input-container {
    position: absolute;
    bottom: -100px;
    width: 300px;
}

.comment-input {
    padding: 5px 15px;
    font-size: 10pt;
    resize: none;
    float: left;
    width: 220px;
    height: 80px;
    margin-right: 10px;
    box-shadow: 0px 2px 0px 0px rgb(35,45,65, 0.3);
}

button.add-comment {
    width: 40px;
    height: 40px;
    color: white;
    float: left;
    background: #4a76a8;
}
.comment {
    width: 290px;
    margin: 5px;
    float: left;
    display: grid;
    grid-template-columns: 30px 260px;
}
p.comment-name {
    color: #4a76a8;
    font-size: 9pt;
    padding: 0px 5px;
}

.comment-image img {
    width: 30px;
    height: 30px;
    border-radius: 30px;
}

p.comment-text {
    font-size: 9pt;
    padding: 0px 5px;
    line-height: 14px;
    white-space: pre-line;
    overflow-wrap: break-word;
}

button.delete-comment {
    color: #4a76a8;
    font-size: 8pt;
    padding: 0 5px;
}
.comment-container {
    position: absolute;
    top: 0;
    right: -355px;
}
button.comments-post {
    background: #4a76a8;
}
p.bank-title {
    margin: 10px auto;
    background: white;
    box-shadow: 0px 2px 0px 0px rgb(35,45,65, 0.3);
    height: 30px;
    line-height: 30px;
    text-align: center;
}
p.empty-bank {
    font-size: 16pt;
    color: darkgrey;
    margin: 20px auto;
    width: 96px;
}
span#comment-count {
    position: absolute;
    top: -4px;
    right: -6px;
    background: red;
    height: 20px;
    padding: 0px 5px;
    line-height: 20px;
    min-width: 10px;
    text-align: center;
    border-radius: 20px;
}